@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

h1{
	font-size: 2.5rem;
	font-weight: 700;
}

h2{
	font-size: 1.8rem;
	font-weight: 600;
}

h3{
	font-size: 1.4rem;
	font-weight: 800;
}

h5{
	font-size: 1rem;
	font-weight: 400;
	color: #1d1d1d;
}

h6{
	color: #D8D8D8;
}

button{
	font-size: 0.8rem;
	font-weight: 700;
	outline: none;
	border: none;
	background-color: #ffcc00;
	color: black;
	padding: 13px 30px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease;
}

button:hover{
	background-color: #ffd633;
	
}

hr{
	width: 30px;
	height: 2px;
	background-color: rgb(0, 0, 0);
	margin: 0 auto;
}


.navbar{
	font-size: 16px;
	top: 0;
	left: 0;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link{
	padding: 0 20px;
	color: black;
	transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.acive{
	color: rgb(214, 179, 23);
}

.navbar i{
font-size: 1.2rem;
padding: 0 7px;
cursor: pointer;
transition: 0.3s ease;	
}


#bar{
	font-size: 1.5rem;
	padding: 7px;
	cursor: pointer;
	transition: 0.3s ease;
	color: black;
}

#bar:hover,
#bar.active{
	color: #fff;
}

@media only screen and (max-width: 991px){

	body > nav > div > button:hover,
	body > nav > div > button:focus{
		background-color: orange;
	}	

	body > nav > div > button:hover #bar,
	body > nav > div > button:focus #bar{
		color: #fff;
	}


#navbarSupportedContent > ul {
	margin: 1rem;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	padding: 10px 0;
}

.navbar-light .navbar-toggler{
	border: none;
	outline: none;
}

}

#home{
	background-image: url("pic/background.png");
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#home span{
	color:rgb(246, 248, 250);
}

#home p, h5{
	color: white;
	font-size: 1.8rem;
}

.about {
	padding-block-start: 120px;
}


footer{
	background-color: #222222;
	padding: 0;
	margin: 0;
}

footer h5{
	color:  #D8D8D8;
	font-weight: 700;
	font-size: 1.2rem;
}

footer li{
	padding-bottom: 4px;	
}

footer li a{
	font-size: 0.8rem;
	color: #999;
}

footer li a:hover{
	font-size: 0.8rem;
	color: #D8D8D8;
}

footer p{
	color: #999;
	font-size: 0.8rem;
}



.content {
	margin: 5px auto;
	border-radius: 5px;
	min-height: 400px;
}
.content:after {
	content: "";
	display: block;
	clear: both;
}
.content .content-title {
	margin: 10px 0px;
	color: #374447;
	font-family: 'Averia Serif Libre', cursive;
}
.content .post {
	width: 335px;
	margin: 9px;
	min-height: 320px;
	float: left;
	border-radius: 2px;
	border: 1px solid #b3b3b3;
	position: relative;
}
.content .post .category {
	margin-top: 0px;
	padding: 3px 8px;
	color: #374447;
	background: white;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #374447;
	box-shadow: 3px 2px 2px;
	position: absolute;
	left: 5px; top: 5px;
	z-index: 3;
}
.content .post .category:hover {
	box-shadow: 3px 2px 2px;
	color: white;
	background: #374447;
	transition: .4s;
	opacity: 1;
}
.content .post .post_image {
	height: 260px;
	width: 100%;
	background-size: 100%;
}
.content .post .post_image {
	width: 100%;
	height: 260px;
}
.content .post .post_info {
	height: 100%;
	padding: 0px 5px;
	font-weight: 200;
    font-family: 'Noto Serif', serif;
}
.content .post .post_info {
	color: #222;
}
.content .post .post_info span {
	color: #A6A6A6;
	font-style: italic;
}
.content .post .post_info span.read_more {
	position: absolute;
	right: 5px; bottom: 5px;
}

content .post-wrapper {
	width: 70%;
	float: left;
	min-height: 250px;
}
.full-post-div {
	min-height: 300px;
	padding: 20px;
	border: 1px solid #e4e1e1;
	border-radius: 2px;
}
.full-post-div h2.post-title {
	margin: 10px auto 20px;
	text-align: center;
}
.post-body-div {
	font-family: 'Noto Serif', serif;
	font-size: 1.2em;
}
.post-body-div p {
	margin:20px 0px;
}
.post-sidebar {
	width: 24%;
	float: left;
	margin-left: 5px;
	min-height: 400px;
}
.content .post-comments {
	margin-top: 25px;
	border-radius: 2px;
	border-top: 1px solid #e4e1e1;
	padding: 10px;
}
.post-sidebar .card {
	width: 95%;
	margin: 10px auto;
	border: 1px solid #e4e1e1;
	border-radius: 10px 10px 0px 0px;
}
.post-sidebar .card .card-header {
	padding: 10px;
	text-align: center;
	border-radius: 3px 3px 0px 0px;
	background: #3E606F;
}
.post-sidebar .card .card-header h2 {
	color: white;
}
.post-sidebar .card .card-content a {
	display: block;
	box-sizing: border-box;
	padding: 8px 10px;
	border-bottom: 1px solid #e4e1e1;
	color: #444;
}
.post-sidebar .card .card-content a:hover {
	padding-left: 20px;
	background: #F9F9F9;
	transition: 0.1s;
}

.message {
	width: 100%; 
	margin: 0px auto; 
	padding: 10px 0px; 
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	border-radius: 5px; 
	text-align: center;
}
.error {
	color: #a94442; 
	background: #f2dede; 
	border: 1px solid #a94442; 
	margin-bottom: 20px;
}
.validation_errors p {
	text-align: left;
	margin-left: 10px;
}
.logged_in_info {
	text-align: right; 
	padding: 10px;
}

.about-1{
	margin: 0;
	padding: 5px;
}

.about-1 p{
	text-align: center;
	padding: 3px;
}

.equal-height-columns{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.equal-column-content{
 height: 100%;
}

.about-item{
	padding: 10px, 20px;
	box-sizing: border-box;
	margin: 7px ;
}

.about-item ul{
	margin: 1.4rem;
	text-align: left;
}

.item1{
	background-color: #ffcc00;
}

.item2{
	background-color: #e08011;
}

.item3{
	background-color: #c54b13;
}

.about-item h3{
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}

.about-item i {
	font-size: 48px;
}

.about-item hr {
	width: 100%;
	
}

.about-item h4, p, ul{
	text-align: left;
	margin-left: 10px;
}

#contact-Us{
	background-image: url("pic/volodymyr-hryshchenko-V5vqWC9gyEU-unsplash.jpg");
	width: 100%;
	height: 160vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#contact-Us .contact-Us{
	position: relative;
	width: 100%;
	padding: 40px 100px;
}

#contact-Us .title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

#contact-Us .form{
	grid-area: form;
}

#contact-Us .info{
	grid-area: info;
}

#contact-Us .map{
	grid-area: map;
}

#contact-Us .contact{
	padding: 40px 20px;
	background: #fff;
	box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

#contact-Us .info{
	grid-area: info;
	background-color:#ffcc00;
}

#contact-Us .map{
	grid-area: map;
}

#contact-Us .box{
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 5fr 4fr;
	grid-template-areas: 
	"form info"
	"form map";
	grid-gap: 20px
}

#contact-us .formBox{
	position: relative;
	width: 100%
}

.formBox .row50{
	display: flex;
	gap: 20px;
}

.inputBox{
	display: flex;
	flex-direction: column;
	margin-bottom:  10px;
	width: 50%;
}

.formBox .row100 .inputBox{
	width: 100%;
}

.inputBox span{
	color:#c54b13;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}

.inputBox input{
	padding: 10px;
	font-size:  1.1em;
	outline: none;
	border: 1px solid #333
}

.inputBox textarea{
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 220px;
	margin-bottom: 10px;
}

.inputBox input[type="submit"]{
	background:rgb(219, 163, 9);
	color: #fff;
	border: none;
	font-size: 1.1em;
	max-width: 120px;
	font-weight: 500;
	cursor: pointer;
	padding: 14px 15px;
}


.info .infoBox div{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.info .infoBox div span{
	min-width: 40px;
	height: 40px;
	color: #fff;
	background:rgb(214, 179, 23);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	border-radius: 50%;
}

@media(max-width: 991px){

	#contact-Us{
		padding: 20px;
		height: auto;
	}
	#contact-Us .box {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"form"
			"info"
			"map";
	}
}













